/*Pynt*/
b{font-size: 100px; font-family: Broadway}
b{text-align: center}
k{text-align: center;}
p1{text-align:left;}
#kontakt{text-align:left;}
i{font-size: 25px;}
a{text-decoration: none;
color: blue;}